[color]
	ui = auto
[core]
	editor = vi
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold red)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[http]
	sslVerify = false
[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
    tool = fugitive

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
